html,
body {
  height: 100%;
  overflow: hidden;
}
.container-fluid {
  height: 100%;

  /* //TODO:: -------------------CLARO--------------------*/

  /*    background: radial-gradient(ellipse at center, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 96%, rgba(209,209,209,1) 100%);  */

  /* //TODO:: -------------------OSCURO 1 --------------------*/

  background: radial-gradient(
    ellipse at center,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 0%,
    rgba(29, 29, 29, 1) 97%,
    rgba(28, 28, 28, 1) 99%,
    rgba(0, 0, 0, 1) 100%
  );
  /* 
/* //TODO:: -------------------AZUL --------------------*/ /*
background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(57,77,138,1) 100%);
*/
  /* //TODO:: -------------------OSCURO 2 --------------------*/

  /*   background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(43,43,43,1) 83%, rgba(19,19,19,1) 95%, rgba(18,18,18,1) 97%, rgba(17,17,17,1) 100%);
  */
}

.vacio {
  height: 20%;
  transition: 1050ms;
}

.cosa {
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(57,77,138,1) 100%);
 /*  background: linear-gradient(to right, rgb(228, 77, 38), rgb(241, 101, 41)); */
  /*  background: linear-gradient(to right, #cb2d3e, #ef473a); */
  width: 100%;
  height: 70%;
  box-shadow: -8px 33px 38px -24px rgba(0, 0, 0, 0.39);
  z-index: 2;
  transition: all cubic-bezier(0.32, 0.14, 0.33, 0.49) 1000ms;

  position: relative;
}

.lleno {
  height: 50%;
  transition: 1050ms;
}

.izq {
  float: left;
  border-bottom-right-radius: 100px;
}

.der {
  float: right;
  border-bottom-left-radius: 100px;
}
.ver_mas {
  z-index: 2;
  outline: none !important;
  position: absolute;
  width: 35px;
  height: 35px;
  display: none;
  margin: 20px;
  /*  background: #3a8eef;  */
  /*  background: linear-gradient(to right, rgb(171, 186, 171) , rgb(255, 255, 255)); */
  /*  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(242,235,243,1) 0%, rgba(234,241,249,1) 90.1% ); */
  background-image: radial-gradient(
    circle,
    #ffffff,
    #f2f2f2,
    #e6e6e6,
    #d9d9d9,
    #cdcdcd
  );
  border-radius: 50%;
  border: 0;
}

.blur {
  filter: blur(10px);
}

.a {
  font-size: 90%;
  text-align: center;
  transition: 1000ms;
  font-weight: 100;
  font-style: normal;
  font-family: "Comfortaa", cursive;
  position: absolute;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.062);
  /* background: #222632; */
  width: 66.5% !important;
  height: 70%;
}

.nombre {
  /*  font-family: 'Catamaran', sans-serif; */
  font-size: 370%;
  float: left;
  letter-spacing: 10px;
  margin: 0 auto;
  /*   text-shadow: 0 1px 0 #04a2d2, 0 2px 0 #0095c1, 0 3px 0 #0093bf, 0 4px 0 #007cb7, 0 5px 0 #0061a7, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15) */
  /*  font-family: 'Poppins', sans-serif; */
  /*  font-family: 'Nanum Gothic', sans-serif; */
  /*   font-family: 'Encode Sans Expanded', sans-serif; */

  /* font-family: 'Acme', sans-serif; */
}

.description {
  position: relative;
  text-align: center;
  font-size: 180%;
  /*  font-family: 'Poppins', sans-serif; */
  /*  font-family: 'Nanum Gothic', sans-serif; */
  /*   font-family: 'Encode Sans Expanded', sans-serif; */
  /*  font-family: 'Catamaran', sans-serif; */

  /* font-family: 'Acme', sans-serif; */
}

@media  screen and  (max-width: 930px) {
  .a {
    font-size: 90%;
  }
}

@media screen and  (max-width: 800px) {
  .a {
    font-size: 85%;
  }

  .description {
    margin-top: 800px;
  }
}
@media screen and (max-width: 730px) {
  .a {
    font-size: 75%;
  }
  .nombre {
    font-size: 360%;
  }
}

@media screen and  (max-width: 600px) {
  .nombre {
    font-size: 340%;
  }

  .description {
    top: 30px;
  }
}

@media  screen and  (max-width: 530px) {
  .a {
    font-size: 65%;
  }
  .nombre {
    font-size: 280%;
    letter-spacing: 8px;
  }
}

/*  @media screen and (min-width: 1000px) and (orientation: landscape) {
  .a {
    background: red;
    font-size: 65%;
  }
  .nombre {
    font-size: 280%;
    letter-spacing: 8px;
  }
}  */
img{
width: 30%;
height: 30%;
clip-path: circle();

}
.muestra_contenido {
  padding: 2% ;
  position: absolute !important;
  display: none;
  background: radial-gradient(
    at center center,
    rgb(254, 254, 254) 0%,
    rgb(219, 219, 219) 96%,
    rgb(209, 209, 209) 100%
  );
  width: 97%;
  height: 95%;
  margin-top: 1%;
  box-shadow: rgb(199, 89, 42) 2px 2px 5px, rgb(199, 89, 42) -2px -2px 5px;
}

.izq .muestra_contenido {
  margin-left: 1%;
  border-radius: 10px;
  border-top-left-radius: 135px;
  border-bottom-right-radius: 100px;
}

.der .muestra_contenido {
  margin-left: 1%;
  border-radius: 10px;
  border-top-right-radius: 135px;
  border-bottom-left-radius: 100px;
}

/* .muestra_contenido .nombre{
  font-size: 200%;
  font-weight: 100
} */

.e {
  position: absolute !important ;
  line-height: normal;
  color: #eee;
  font-size: 210%;
  font-weight: 100;
}

.der .e {
  right: 0;
  margin-right: 8px;
}

.izq .e {
  left: 0;
  margin-left: 8px;
}

.muestra_contenido .nombre {
  font-size: 270%;
  margin: 0 auto;
  text-align: center
}

.muestra_contenido .description{
  margin-top: 5%;
  font-size: 100%
}

.muestra_contenido .contenido{
  display:none
}